/* people */
.people {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.people__profile-image,
.people__images__image {
  border-radius: var(--border_radius);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.people__profile-image {
  width: 300px;
  height: 300px;
}

.people__images__image {
  width: 200px;
  height: 200px;
}

.people__profile-image-edit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--light_purple);
  padding: 0.25rem;
  display: flex;
  gap: 0.2rem;
  border-bottom-left-radius: 0.5rem;
}

.people__profile-image-edit button {
  padding: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.people__profile-image img,
.people__images__image img {
  width: 100%;
  object-fit: cover;
}

.people__profile-image img {
  height: 300px;
}

.people__images__image img {
  height: 200px;
}

.people__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.people__info--name {
  font-weight: 600;
  font-size: var(--title);
}

.people__info--age,
people__info--gender {
  font-size: var(--title);
}

.people__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/* people */

@media screen and (max-width: 576px) {
  /* people */
  .people__images__image {
    width: 200px;
  }
  /* people */
}
