:root {
  --purple: #615ef0;
  --light_purple: rgba(97, 94, 240, 0.1);
  --gray: #f1f1f1;
  --light_dark: rgba(0,0,0,0.3);
  --white: #fff;
  --green: #68D391;
  --red: #f05e5e;
  --light_red: rgba(240, 94, 94, 0.1);
  --text: 14px;
  --title: 20px;
  --border_radius: 12px;
  --bold: 600;
}
